    {% extends 'base.html.twig' %}

    {% block title %}Hello AccountGestionController!{% endblock %}

    {% block body %}
    <div>
        <a class="btn btn-primary" href="{{path('app_articlec')}}">Publier un article</a>
        <a class="btn btn-secondary" href="{{path('app_export')}}">Exporter en pdf</a>
        {% set recipe = 0%}
        {% for article in articles %}
        {% if not article.isbuy %}
        <p>{{ article.name }} | {{ article.price }}</p>
        {% else %}
            <p style='color:green'>{{ article.name }} | {{ article.price }}     (Selled)</p>
            {% set recipe = recipe + article.price %}
        {% endif %}
        {% endfor %}   
        <h1>Acheté</h1>
        {% for article in buyed_articles %}
        {% if article.isbuy %}
        <p style='color:red'>{{ article.name }} | {{ article.price }} (buyed)</p>
        {% set recipe = recipe - article.price %}
        {% endif %}
        {% endfor %}   

        
        <span>{{ recipe }}</span>
    </div>
    {% endblock %}