{% extends 'base.html.twig' %}
{% block profileUser %}
	{% if id == null %}
		<li class="nav-item">
			<a class="nav-link" href="/login">Log In</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/register">Sign In</a>
		</li>
	{% endif %}
	{% if id != null %}
		<li class="nav-item">
			<div class="dropdown px-4">
				<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Profile
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{path('app_account')}}">Profile</a>

					</li>
					<li>
						{% if app.user %}
							<div
								class="bg-danger">
								{# You are logged in as
																																																																																																																																																																{{ app.user.userIdentifier }}, #}
								<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>

							</div>
						{% endif %}
					</li>
				</ul>
			</div>

		</li>
	{% endif %}


{% endblock %}

{% block body %}
	<section class="section-product-page d-flex align-items-center " style="height:80vh">

		<div
			style="display: flex; align-items: center; max-width: 90%; margin: auto; padding: 20px; height: 80%">

			<!-- Image Section on the left -->
			<div style="flex-shrink: 0; margin-right: 20px; width:65%">
				<img src="{{ article.imgUrl }}" alt="Product Image" style="width: 100%; height: auto; border-radius: 5px; background-size:contain">
			</div>

			<!-- Product Information Section on the right -->
			<div class="d-flex justify-content-between" style="flex-direction:column; height:65%;">

				<h2 style="font-size: 26px; margin-bottom: 10px;">{{ article.name }}</h2>

				<p style="font-size: 16px; color: #555; margin-bottom: 20px;">
					{{ article.content }}
				</p>
				<p style="font-size: 24px; color: #333; margin-bottom: 10px;">
					<strong>{{ article.price }}
						€</strong>


				</p>


				<div style="font-size: 14px; color: #888; margin-bottom: 20px;">
					Seller:
					<a href="mailto:{{ article.seller.email }}" style="color: #007bff;">{{ article.seller.email }}</a>
				</div>

				<div class="align-self-baseline">

					<a href="{{ path('app_message', {'id': article.seller.id}) }}" class="btn btn-primary " style="padding: 10px 20px; background-color: #007bff; color: white; border-radius: 5px; text-decoration: none;">Message Seller</a>
					<a href="{{ path('app_buy', {'article': article.id})}}" class="btn btn-primary " style="padding: 10px 20px; background-color: #007bff; color: white; border-radius: 5px; text-decoration: none;">Buy</a>


				</div>
			</div>
		</div>
	</section>
{% endblock %}
