{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}
{% block profileUser %}
	{% if id == null %}
		<li class="nav-item">
			<a class="nav-link" href="/login">Log In</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/register">Sign In</a>
		</li>
	{% endif %}
	{% if id != null %}
		<li class="nav-item">
			<div class="dropdown px-4">
				<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Profile
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{path('app_account')}}">Profile</a>

					</li>
					<li>
						{% if app.user %}
							<div
								class="bg-danger">
								{# You are logged in as
																																																																																																																																																								{{ app.user.userIdentifier }}, #}
								<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>

							</div>
						{% endif %}
					</li>
				</ul>
			</div>

		</li>
	{% endif %}


{% endblock %}

{% block body %}
	<section class="section-conversation">
		<div class="container-fluid container-conversations ">
			{% for conversation in conversations_id %}
				<div class="container bg-light border">
					<p>
						{% if conversation[0].UserID.getId == userid %}
							<p>{{ conversation[0].user2.username }}
								<a class="btn btn-primary" href="{{ path ('app_message', {'id' : conversation[0].user2.getId}) }}">Discussion</a>
								<span>{{conversation[0].content}}</span>
							</p>
						{% else %}
							<p>{{ conversation[0].UserId.username }}
								<a class="btn btn-primary" href="{{ path ('app_message', {'id' : conversation[0].UserId.getId}) }}">Discussion</a>
								<span>{{conversation[0].content}}</span>
							</p>
						{% endif %}
					</p>
				</div>
			{% endfor %}

		</div>
	</section>


{% endblock %}
